/*Lynn 17-10-18 common.css*/
/*菜单栏*/
.navbar .nav_shortcuts .btn {
    margin-top: 5px;
}
.nav-list>li.open {
    position: relative;
}
.nav-list>li.open .back {
    display: none;
}
.nav-list>li.open .normal {
    display: inline-block !important;
}
.nav-list>li.open a {
    padding-left: 7px;
}
.nav-list>li .submenu>li>a {
    background: #fff;
}
.nav-list>li .submenu>li a>[class*="fa-"]:first-child {
    left: 20px;
}
.nav-list>li ul.submenu ul.submenu>li a>[class*="fa-"]:first-child {
    left: 23px;
}

/*其他公用部分*/
.cf{
    clear:both;
}
