html,
.help-block-error{color: #a94442;}
.nav{margin-bottom: 20px;margin-top: 20px;}
.table td {font-size: 12px;}
.left{ float: left; }
.red{ color: #ff0000; }
.blue{color:#1abc9c}
.grey{color:#ccc}
.green{color:#01AAED  }
.yellow{color:#FFB800 }
.block{display:block}
.table-image{
    display:block;
    max-width:600px;
}
.short-input{max-width:60px;}
.list-group .list-group-item{
    cursor:pointer;
}
.list-group .list-group-item:hover:not(.disabled){
    background-color: #1dd2af;
    color:#fff;
}
.list-group .list-group-item.active{
    color:#fff;
    background-color: #1abc9c;
    border:none;
}
.click-show-wrap{
    margin-top:35px;position: absolute;z-index: 9999;
}
.clear-float:after{
    content:".";
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
}
.input-text{
    float: left;
    line-height: 35px;
    margin-left: 5px;
}
.rg-margin{margin-right:5px;}
.lf-margin{margin-left:5px;}
a{color: #1abc9c;}
input.layui-upload-file[type=file]{display:none;}
a:hover, a:focus { color: #1dd2af;text-decoration: underline;}
.form-actions {padding: 20px; text-align: center; margin-top: 20px;margin-bottom: 20px;background-color: #f5f5f5;border-top: 1px solid #e5e5e5;}
.site-signup{margin-left: 20px;margin-right: 20px;}
.form-required{float: left;padding-top: 9px;padding-left: 4px;font-size: 18px;color: #e74c3c;}
.text{float: left;width: 300px;}
.select{float: left;width: 100px;}
.span-text{float: left;padding-top: 9px;padding-left: 10px;padding-right: 10px;}
.span-image{float: left;padding-left: 10px;padding-right: 10px;}
.split_line{border-right: 1px solid #ddd;float: left; padding-right:10px;min-height: 34px;}
.width1{width: 100px}
.width2{width: 200px}
.width3{width: 300px}
.radio-inline{height: 34px;    margin-left: 3px;}
.cf{height: 68px;}
.well.form-search{height:auto;padding: 10px 20px 20px;margin: 0 0 20px;}
.well.form-search .btn-group{padding-top:10px;}
.well.form-search .btn-group input,.well.form-search .btn-group select{width:150px;}
.well.form-search .btn-group .title{margin-left:15px;}
.fl {float: left !important;}
.fr {float: right !important;}
.listOrder{height: 20px; border: 1px solid rgb(203, 208, 212); text-align: center; width: 40px; background-color: rgb(241, 241, 241);}
.listOrder:checked{background-color: red ;color:#fff }
.img-content{text-align: center;padding: 10px;}
.img-content .img{max-width:-moz-available;}
.laydate_box, .laydate_box * {box-sizing:content-box;} /*laydate兼容bootstrap*/
.content-height{min-height: 500px}
.toggle {text-align: center;}
.toggle img{cursor: pointer	}
.color {color: #1abc9c;}
.table span.order-sort{ display: block; cursor: pointer; width:25px;height:20px; background: url('../images/order.png') no-repeat ; background-size: 25px; float: right;}
.table span.order-sort-up{background: url('../images/order_up.png') no-repeat ; background-size: 25px;}
.table span.order-sort-down{background: url('../images/order_down.png') no-repeat ; background-size: 25px;}
.span-primary{color: #1abc9c; cursor: pointer;}
.span-primary:hover{text-decoration: underline}

.pagination .pageInput{ height: 33px; padding:10px 0; width: 30px;}
.span-post{cursor:pointer;color:#1abc9c;}
/*开关*/
input[type="checkbox"].iswitch-lg.iswitch-info:checked {
    box-shadow: inset 0 0 0 16px #40bbea !important;
}
input[type="checkbox"].iswitch-lg:checked {
    transition-delay: 0s, 0s;
    box-shadow: inset 0 0 0 16px #1abc9c !important;
    padding-left: 22px;
}
input[type="checkbox"].iswitch-xlg:before {
    display: inline-block;
    height: 34px;
    width: 34px;
    margin: 2px 0 0 2px;
    background-color: #ffffff;
    border-radius: 17px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .1s ease .1s;
    -moz-transition: all .1s ease .1s;
    -o-transition: all .1s ease .1s;
    transition: all .1s ease .1s;
}
input[type="checkbox"].iswitch-lg {
    font-size: 10px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 0 0 2px #eeeeee;
    outline: 1px solid transparent !important;
    cursor: pointer;
    border: none;
    background: transparent;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: 4px;
    margin-bottom: 7px;
    transition: box-shadow 0.3s ease-in-out, padding 0.25s ease-in-out;
    transition-delay: .1s, 0s;
}
input[type="checkbox"].iswitch-lg:before, input[type="checkbox"].iswitch-lg:after {
    content: "";
}
input[type="checkbox"].iswitch-lg:before {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 2px 0 0 2px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .1s ease .1s;
    -moz-transition: all .1s ease .1s;
    -o-transition: all .1s ease .1s;
    transition: all .1s ease .1s;
}
input[type="checkbox"].iswitch-lg:after {
    position: absolute;
    top: -8px;
    left: -8px;
    bottom: -8px;
    right: -8px;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.label.label-info{
    background-color: #40bbea;
    color: #fff;
}
.label.label-secondary{
    background-color: #68b828;
    color: #fff;
}
.label.label-default{
    background-color: #777777;
    color: #fff;
}
.label.label-blue{
    background-color: #0e62c7;
    color: #fff;
}
.label.label-warning{
    background-color: #ffba00;
    color: #fff;
}
.label.label-purple{
    background-color: #7c38bc;
    color: #fff;
}
.ajax_pop{
    display: none;
    background: #fff;
    position: absolute;
    border: 1px #ccc solid;
    border-radius: 5px;
    width: 400px;
    padding: 10px;
    z-index: 10;
    top: 200px;
    margin: 0 auto;
}
.logisticsJoke{
    -webkit-overflow-scrolling: touch;
    margin-top: 10px;
    background: #fff;
    color:#666666;
    border:1px #fff solid;
    box-sizing: border-box;
}
.logisticsJoke li{
    padding: 5px 0;
    border-bottom: 1px #ECEDF1 solid;
}
.logisticsJoke li p{
    padding-left: 30px;
    margin-top: 6px;
    
}
.logisticsJoke li:nth-child(1){
    color:#25ae5f;
}
.testrelation {
    width: 150px; float: left;
}
.alert{
    position: fixed !important;
    z-index: 1000;
    width: 98%;
    top: 2%;
}
input.laydate-icon{
    background:#fff url(../images/layui_date.png) no-repeat right;
}
.btn{
    outline:none;
}
.table .layui-form.select{
    width: 300px;
    float: left;
}
.nav-tabs a{
    color:#555;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover{
    color:#1abc9c;
    cursor:pointer;
}
.change-data{
    border:1px solid #ccc;
}
/*上传按钮*/
.layui-btn.upload{
    position:relative;
}
.layui-btn.upload .mini-image{
    height: 38px;
    width: 38px;
    position: absolute;
    top: 0;
    right: -48px;
}
.img-block{
    margin-bottom:8px;
}
.img-block .img-delete{
    height: 35px;
    position:relative;
    top:-1.5px;
    text-align:center;
}
.img-block .img-sort{
    display: inline-block;
    width: 60px;
    margin-left: 50px;
    height: 36px;
}
.add-img-btn{
    border:1px dashed #009688;
    width: 270px;
    line-height: 32px;
    text-align: center;
    cursor:pointer;
}
.add-img-btn .layui-icon{
    color:#009688;
    font-size:20px;
}
/*弹出框底部*/
.layer-box-bottom{
    text-align:center;
    height:42px;
    position:fixed;
    bottom:0;
    width:100%;
    left:0;
    line-height:42px;
    background-color: #F8F8F8;
    border-top: 1px solid #eee;
    padding-top:3px;
}
/*限制修改金额框长度*/
.table .input-money{
    background-color: rgb(255, 255, 255);
    width:80px;
}

.clone{
    display:none;
}